In [1]:
import pandas as pd
df = pd.read_csv (r'galaxy.csv')
df.to_json (r'galaxy_json.json')

In [2]:
df_json = pd.read_json (r'galaxy_json.json')

In [3]:
df_json

,atp_last,attended_last,attended_prior,clientcode,dimcustomermasterid,distance,events_last,events_prior,lkupclientid,product_current,product_last,product,sascore,seasonyear,scoredate,tenure
0,73.50,1,1,GALAXY,437182025,94.66,1,1,6,None,Individual,None,100.0,2022,2022-06-23,0
1,32.86,11,11,GALAXY,437182052,13.20,15,15,6,None,Full Season,Full Season,62.0,2022,2022-06-23,0
2,37.50,1,1,GALAXY,437182064,4104.42,1,1,6,None,Individual,None,100.0,2022,2022-06-23,0
3,25.41,1,1,GALAXY,437182072,147.22,1,1,6,None,Individual,None,97.0,2022,2022-06-23,0
4,42.25,4,4,GALAXY,437182090,385.31,4,4,6,None,Mini Plan,None,49.0,2022,2022-06-23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14486,0.00,0,0,GALAXY,514773643,147.22,1,1,6,None,None,None,100.0,2022,2022-06-23,0
14487,28.13,1,1,GALAXY,514773661,147.22,1,1,6,None,Individual,None,96.0,2022,2022-06-23,0
14488,34.50,0,0,GALAXY,514779960,147.22,2,2,6,None,None,None,92.0,2022,2022-06-23,0
14489,46.80,0,0,GALAXY,514780409,147.22,1,1,6,None,None,None,67.0,2022,2022-06-23,0
14490,95.00,0,0,GALAXY,514780705,147.22,1,1,6,None,None,None,72.0,2022,2022-06-23,0